@model IEnumerable<Assignment7.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h2>All Listings</h2>
<div class="create-listing">
    <a asp-action="Create">Create New</a>
</div>
<div class="listing-container">
    @foreach (var item in Model)
    {
    <div class="listing">
        <div class="listing-top-row">
            <p class="listing-username">@Html.DisplayFor(modelItem => item.Username)</p>
            <p class="listing-title">@Html.DisplayFor(modelItem => item.Name)</p>
            <p class="listing-zipcode">@Html.DisplayFor(modelItem => item.ZipCode)</p>
        </div>
        <div style="clear:both"></div>
        <div class="listing-middle-row">
            <p class="listing-description">@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
        <div style="clear:both"></div>
        <div class="listing-bottom-row">
            <a asp-action="Details" asp-route-id="@item.ListingID" class="listing-button left">Add To Cart&nbsp;<i class="fas fa-cart-plus"></i></a>
            <p class="listing-price">@Html.DisplayFor(modelItem => item.Price)</p>
            <a asp-action="Details" asp-route-id="@item.ListingID" class="listing-button right">Details</a>
            <div style="clear:both"></div><br />
        </div>


        <!-- There needs to be an if/else statement. If listing is made by logged in user, show the edit and delete fields. -->

        
    </div>
    }
</div>